h1 {
    display: flex;
    justify-content: center;
    font-family: Baskerville;
}

.roast-header1 {
    font-family: Baskerville;
    font-size: x-large;


}

#roast-selection {
    text-align: center;
    width: 18em;

}

.form {
    display: flex;
    justify-content: center;

}

/*.select {*/
/*    float: right;*/
/*    position: relative;*/
/*    top: 3em;*/
/*    left: 32%;*/

/*}*/



#submit {
    position: relative;
    top: 7em;
}

/*.container1 {*/
/*    border: 3px solid red;*/
/*    display: flex;*/
/*    float: right;*/

/*}*/

/*.container2 {*/
/*    position: relative;*/
/*    float: right;*/
/*    left: 39em;*/
/*    bottom: 38%;*/
/*}*/


/*table {*/
/*    border-collapse: collapse;*/
/*    margin: 15px 0;*/
/*    font-family: Baskerville;*/
/*    font-size: large;*/

/*}*/


/*td, th {*/
/*    border: 1px solid black;*/
/*    padding: 5px 10px;*/
/*}*/



/*td, th {*/
/*    border: 1px solid black;*/
/*    padding: 5px 10px;*/
/*}*/
