
h1 {
    display: flex;
    justify-content: center;
    font-family: Baskerville;
}

.roast-header1 {
    display: flex;
    justify-content: center;
    font-family: Baskerville;

}

.form {
    display: flex;
    justify-content: center;
}

.select {
    display: flex;
    justify-content: center;
}

#roast-selection {
    justify-content: center;
    width: 18em;
}

#submit {
    width: 18em;
}

.container1 {
    border: 3px solid red;

}

table {
    border-collapse: collapse;
    margin: 15px 0;
    font-family: Baskerville;
    font-size: large;

}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}


